.footer {
  background-color: var(--theme-color-bg-2);
  color: var(--theme-color-text-light);
}

.footer p {
  padding: 1rem;
}

.link {
  color: inherit;
  padding: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
