# This is used when running pnpm dev, it will build the plugin directly into the directory so you don't have to update the plugin each time you make a change.
DEV_PLUGIN_INSTALL_DIR=<Path to the directory where the plugin is installed>
