[Unit]
Description=Atomic Server
Documentation=https://docs.atomicdata.dev
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=atomic-server
Group=atomic-server

# Request systemd to manage these directories
ConfigurationDirectory=atomic-server
StateDirectory=atomic-server
CacheDirectory=atomic-server

# Environment variables
Environment=ATOMIC_CONFIG_DIR=/etc/atomic-server
Environment=ATOMIC_DATA_DIR=/var/lib/atomic-server/data
Environment=ATOMIC_PORT=9883
# Use system hostname as the domain by default
Environment=ATOMIC_DOMAIN=%H

ExecStart=/usr/bin/atomic-server
WorkingDirectory=/etc/atomic-server/
EnvironmentFile=/etc/atomic-server/atomic-server.env
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
