# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# Rust
rust/target/
**/*.rs.bk

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
.DS_Store
